zbody {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"],
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

#preview {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-top: 20px;
}
footer {
    background-color: #333; /* Change the background color to your preference */
    color: #fff; /* Change the text color to your preference */
    text-align: center;
    padding: 10px;
    width: 100%;
    paddind-top: 10px;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff; /* Change the link color to your preference */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
